* { 
  box-sizing: border-box;
  text-align: center;

}

body { 
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Jost", sans-serif;
  background: linear-gradient(to bottom, #0f0c29, pink, #24243e);
}

.content { 
  display: none;
}

.login { 
  display: none;
}
h1 {
  position: relative;
  line-height: 1.2em;
}
h1:before {
  position: absolute;
  left: 0;
  top: 1.2em;
  height: 0;
  width:250px;
  content: '';
  border-top: 4px solid blue;
}



button {
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #573b8a;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}

button:hover {
  background: #6d44b8;
}

.logged-in .content { 
  display: block;
}

.not-logged-in .login {
  display: block;
}

.todos { 
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.decrease-button{
  background-color:rgb(173, 172, 172);
  font-family: Arial, sans-serif;
  padding:10px;
}

.increase-button{
  background-color: bisque;
  color:white;
  padding: 10px;

}


.todo:hover,
.todo:focus { 
  background-color: #363;
  color: white;
}

.todo label { 
  display: flex;
  flex-direction: row;
  align-items: center;

  min-width: 54px;
  min-height: 54px;
}

.todo__text--complete { 
  text-decoration: line-through;
}


.quantity{
  margin-left: 5px;
  margin-right: 5px;
}

